
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Streams</h2>
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-warning text-left"><i class="ion-ios7-cart"></i></span>
            <hr />
            <div class="mini-stat-info text-left text-muted">
                <button type="button" class="btn btn-success  btn-custom waves-effect waves-light w-xs m-b-5"> Build Twitter Stream  </button>
            </div>
           
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-warning text-left"><i class="ion-ios7-cart"></i></span>
            <hr />
            <div class="mini-stat-info text-left text-muted">
                <button type="button" class="btn btn-success  btn-custom waves-effect waves-light w-xs m-b-5"> View Saved Streams  </button>
            </div>

        </div>
    </div>

</div>
