
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title"> People who like milk - Live Tweets Stream </h4>

    </div>
</div>

<div class="row">

    <div class="col-md-8 col-sm-6 col-lg-8">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="h2 text-primary">Needing</div>
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I really need to buy milk and honey.</p>&mdash; lil jay.✨ (jayy_cookie) <a href="https://twitter.com/jayy_cookie/status/829222819628199938">February 8, 2017</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">

                <div class="text-left">
                    <a href="#"> <i class="ion-person-add fa-2x text-primary"> </i> Add to Customers </a>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#con-close-modal"> <i class="ion-android-mail fa-2x text-primary"></i> Send Message </a>

                </div>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-8 col-sm-6 col-lg-8">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="h2 text-primary">Needing</div>
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Sometimes some cookies and milk is all you need for midnight snack. 😋🍪🥛</p>&mdash; Brown Eyed Brunette. (MeMuddaFuckka) <a href="https://twitter.com/MeMuddaFuckka/status/829242966141186050">February 8, 2017</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">

                <div class="text-left">
                    <a href="#"> <i class="ion-person-add fa-2x text-primary"> </i> Add to Customers </a>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#con-close-modal"> <i class="ion-android-mail fa-2x text-primary"></i> Send Message </a>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-sm-6 col-lg-8">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="h2 text-primary">Needing</div>
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Sometimes some cookies and milk is all you need for midnight snack. 😋🍪🥛</p>&mdash; Brown Eyed Brunette. (MeMuddaFuckka) <a href="https://twitter.com/MeMuddaFuckka/status/829242966141186050">February 8, 2017</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>
        </div>


    </div>
    <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">

                <div class="text-left">
                    <a href="#"> <i class="ion-person-add fa-2x text-primary"> </i> Add to Customers </a>
                    <br>
                    <a href="#" data-toggle="modal" data-target="#con-close-modal"> <i class="ion-android-mail fa-2x text-primary"></i> Send Message </a>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-sm-8 col-lg-8">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="h2 text-primary">Needing</div>
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">i think im gonna have a soy milk and donut too to celebrate the day. my second to last day of classes too i think. also i need to study</p>&mdash; ラズ☆死by内海2/28 (apislalazuli) <a href="https://twitter.com/lapislalazuli/status/829189296561197057">February 8, 2017</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="text-left">
                    <a href="#"> <i class="ion-person-add fa-2x text-primary"></i> Add to Customers </a>
                    <br>
                    <a href="#"> <i class="ion-android-mail fa-2x text-primary"></i> Send Message </a>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row">

    <div class="col-md-10 col-sm-6 col-lg-8">
        <div class="panel panel-border panel-primary widget-s-1">
            <div class="panel-heading"> </div>
            <div class="panel-body">
                <div class="h2 text-primary">Needing</div>
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">need brownies and milk</p>&mdash; alana (alanapeche) <a href="https://twitter.com/alanapeche/status/829155718888501248">February 8, 2017</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <div class="text-left">
                    <a href="#"> <i class="ion-person-add fa-2x text-primary"></i> Add to Customers </a>
                    <br>
                    <a href="#"> <i class="ion-android-mail fa-2x text-primary"></i>Send Message </a>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Message Content</label>
                            <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;">                                                        </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect waves-light">Send Message</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
<!-- end row -->
